<h1>Thanks for your orders!</h1>

 <table class="table">
   <tr>
    <th>Product Name</th>
     <th>Quantity</th>
     <!-- <th>Price</th> -->
   </tr>
   <% @order.carted_products.each do |carted_product| %>
   <tr>
    <td><%= carted_product.product.name %></td>
    <td><%= carted_product.quantity %></td>
<!--     <td><%= carted_product.product.price %></td>
 -->   </tr>
   <% end %>

 </table>