// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img{
  max-height: 200px;
  max-width: 200px;
}

h1, h4, h5{
  text-align: center;
}

.center{
  margin: auto;
  text-align: center;
}

.product-box {
  background: lightblue;
  margin: 10px 0px;
  border-radius: 10px;
  padding: 5px 10px;
  height: 500px;
}

.product-box:hover {
  background-color: Cornflowerblue;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.description_scroll {
  overflow: auto;
  max-height: 200px;
  vertical-align: middle;

}

.nil {
  text-decoration: none;
  color: black;
}

.nil:hover {
  text-decoration: none;
  color: black;
}

.button {
  text-align: center;
}

.btn-add{
  border: 1px solid black;
  padding: 15px;
  font-size: 18px;
  margin: 10px 0px;
}















// tr td {
//   // border: 1px solid black;
//   padding: 0px 5px;
//   // max-width: 100px;

// }

// th{ 
//   // border: 2px solid black;
//   padding: 0px 5px;
//   text-align: center;

// }

// table{
//   margin: auto;
//   text-align: center;

// }