<h1>Box Format</h1>

<div class="container">
  <% @products.each do |product| %>
    <div class="box col-md-3">
      <img src="<%= product.image %>" class="img-responsive"><br>
      <h4><%= product.name %></h4>
      Lowest Price: $<%= product.price %><br><br>
      <div class="tablescroll"><%= product.description %></div>
    </div>
  <% end %>
</div>