<h1>Sami's Video Game Site</h1>

  <table width="90%" class="table-hover table-bordered table-striped">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Lowest Price</th>
      <th>Description</th>
    </tr>

    <% @products.each do |product| %>
    <tr>
      <td class="col-md-3"><img src="<%= product.image %>" class="img-responsive"></td>
      <td class="col-md-3"><%= link_to product.name, "/index/#{product.id}" %></td>
      <td class="col-md-1">$<%= product.price %> </td>
      <td class="col-md-5"><div class="tablescroll"><%= product.description %></div></td>
    </tr>
    <% end %>

  </table>

  <div class="button">
    <a href="/index/new"><button type="button" class="btn btn-primary btn-lg">Add Game</button></a>
  </div>
