<h1>Sami's Video Game Site</h1>

<table width="90%" class="table-hover table-bordered table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  <% @products.each do |product| %>
  <tr>
    <td><img src="<%= product.image %>" class="img-responsive img-thumbnail"></td>
    <td><%= product.name %></td>
    <td>$<%= product.price %> </td>
    <div class="tablescroll"><td><%= product.description %></td></div>
  </tr>
  <% end %>

</table>
