<h1>Sami's Video Game Site</h1>

<table width="90%" class="table-hover table-bordered table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Lowest Price</th>
    <th>Description</th>
  </tr>

  <% @products.each do |product| %>
  <tr>
    <td class="col-md-3"><img src="<%= product.image %>" class="img-responsive img-thumbnail"></td>
    <td class="col-md-3"><%= product.name %></td>
    <td class="col-md-1">$<%= product.price %> </td>
    <td class="col-md-5"><div class="tablescroll"><%= product.description %></div></td>
  </tr>
  <% end %>

</table>
