<%= form_tag '/products', method: :post do %>

<% if @product && @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <li class="error"><%= message %></li>
  <% end %>
<% end %>

Fill out the following form to add a game to the list:


<%= render "form" %>
<% end %>